{% load static %}
<link href="{% static 'css/menu.css' %}" rel="stylesheet">

<header class="header-area">

  <div class="classy-nav-container breakpoint-off">
    <!-- <div class="container">                   -->

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{% url 'home'%}">Home</a>
      <a href="#">Pedidos</a>
      <a href="#">Clientes</a>
      <a href="#">Produtos</a>
    </div>

    <nav class="classy-navbar justify-content-between" id="deliciousNav">
      <span style="font-size:40px;cursor:pointer" onclick="openNav()">&#9776;
        <!-- <a class="nav-brand" href="{% url 'home' %}"> -->
        <!-- <img src="{% static 'img/core-img/logo100.png' %}" alt=""></a> -->

      </span>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"><img src="{% static 'img/bg-img/user_120.png' %}" alt="user"
            class="rounded-circle" width="31"></a>
        <div class="dropdown-menu dropdown-menu-right user-dd animated">
          <a class="dropdown-item" href=""><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
        </div>
      </li>
    </nav>
    <!-- </div> -->
  </div>


  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>

</header>